<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<head th:fragment="head" >
    <title>TvTime</title>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/tvtime-logo.png.webp}"  />
    <meta charset="UTF-8"></meta>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>

<div th:fragment="header" class="container-fluid" id="logo-title">
    <!--<img th:src="@{/images/tvtime-logo.png.webp}" />
    <h1 style="font-family: Sora; font-size: 60px; margin-top: 20px; margin-left: 10px">TvTime</h1> -->
    <div>
        <span th:text="#{msg.lang.current}"></span>
        <select id="locales">
            <option value="hr" th:selected="${#locale.language == 'hr'}" th:text="#{msg.lang.hr}"></option>
            <option value="en" th:selected="${#locale.language == 'en'}" th:text="#{msg.lang.en}"></option>
        </select>
    </div>
    <div class="logout" sec:authorize="isAuthenticated()" >
        <form method="post" th:action="@{/logout}">
            Welcome "<span sec:authentication="name"></span>"
            <input type="submit" value="logout" class="btn btn-danger">
        </form>
    </div>
</div>

<div th:fragment="js" >
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</div>

<div th:fragment="navigation-bar" >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="margin-left: 40px">TvTime</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/home}" th:text="#{msg.findStreamingService}"/>
                <a class="nav-item nav-link" th:href="@{/home/search}" th:text="#{msg.findAll}"/>
            </div>
        </div>
    </nav>
</div>

</body>

</html>