<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments :: head" ></head>
<body style="align-content: center; text-align: center">

<style>
  .btn-color{
    background-color: #0e1c36;
    color: #fff;
  }

  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  .cardbody-color{
    background-color: #ebf2fa;
  }

  a{
    text-decoration: none;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card my-5">
        <div th:if="${param.error}" class="login-error">Unable to login. Check your username and password.</div>
        <div th:if="${param.logout}" class="login-success">You have successfully logged out.</div>
        <div>
          <span th:text="#{msg.lang.current}"></span>
          <select id="locales">
            <option value="hr" th:selected="${#locale.language == 'hr'}" th:text="#{msg.lang.hr}"></option>
            <option value="en" th:selected="${#locale.language == 'en'}" th:text="#{msg.lang.en}"></option>
          </select>
        </div>
        <form method="post" th:action="@{/login}" class="card-body cardbody-color p-lg-5">

          <div class="text-center">
            <img th:src="@{/images/tvtime-logo.png.webp}" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                 width="200px" alt="profile">
          </div>

          <div class="mb-3">
            <span th:text="#{msg.username}"></span>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          <div class="mb-3">
            <span th:text="#{msg.password}"></span>
            <input type="password" class="form-control" id="password" name="password">
          </div>
          <div class="text-center">
            <input type="submit" value="Prijavi se" class="btn btn-color px-5 mb-5 w-100"/>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments :: js"></div>

</body>
</html>